/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 6, 2016, 6:10:15 PM
    Author     : Adichart
*/
body {
  margin: 0px;
  background-color: white;
}

div.top-header-wrapper {
  padding: 20px;
  width: 100%;
  background-color: skyblue;
  color: white;
}

div.menu {
  float: left;
  width: 260px;
  height: 100vh;
  background-color: antiquewhite;
}

ul {
  list-style-type: none;
}

li>a {
  text-decoration: none;
}

div.content {
  margin-left: 20%;
  width: 100%;
}

div.inner-content {
  width: 100%;
  padding: 10px;
}

div.header {
  font-size: 24px;
}

div.web-dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  opacity: .15;
  filter: alpha(opacity = 15);
  -moz-opacity: .15;
  z-index: 101;
  display: none;
}

div.web-dialog {
  display: none;
  position: fixed;
  width: 700px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -350px;
  background-color: #ffffff;
  border: 2px solid #336699;
  padding: 0px;
  z-index: 102;
  /* font-family: Verdana; */
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 10pt;
  overflow: auto;
}

div.logout-dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*  height: 100%;
    width: 100%; */
  margin: 0;
  padding: 0;
  background: #000000;
  opacity: .15;
  filter: alpha(opacity = 15);
  -moz-opacity: .15;
  z-index: 101;
  display: none;
}

div.logout-dialog {
  display: none;
  position: absolute;
  top: 25%;
  left: 60%;
  width: 250px;
  height: 150px margin-top: -250px;
  margin-left: -250px;
  background-color: transparent;
  padding: 0px;
  z-index: 102;
  /* font-family: Verdana; */
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 10pt;
  overflow: auto;
}

div.loading-dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  opacity: .15;
  filter: alpha(opacity = 15);
  -moz-opacity: .15;
  z-index: 103;
  display: none;
}

div.loading-dialog {
  display: none;
  position: fixed;
  width: 200px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  background-color: #ffffff;
  border: 2px solid #336699;
  padding: 0px;
  z-index: 104;
}

table.data {
  border-collapse: collapse;
  border-color: gray;
  width: 100%;
}

table.data th {
  font-weight: bold;
  text-align: center;
  background-color: #118BC4;
}

table.data td, table.data th {
  border: 1px solid black;
}