/* Global Event Styles
------------------------------------------------------------------------*/
.fc-event.label {
  border: 1px solid #808080;
  color: #fff;
  font-size: .85em;
  cursor: default;
  background-color: #999999;
}

.fc-event.label.label-danger {
  background-color: #d9534f;
  border-color: #c9302c;
}

.fc-event.label.label-success {
  background-color: #5cb85c;
  border-color: #449d44;
}

.fc-event.label.label-warning {
  background-color: #f0ad4e;
  border-color: #ec971f;
}

.fc-event.label.label-info {
  background-color: #5bc0de;
  border-color: #31b0d5;
}