html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -48px;
}
/* Set the fixed height of the footer here */
#push, #footer {
  height: 48px;
}

@media ( max-width : 767px) {
  #wrap {
    margin: 0 auto;
  }
  #push {
    display: none;
  }
}
/* -------- END Sticky footer styles ------------------ */
/*********************************************************/
/*                 Template Layout                       */
/*********************************************************/
body.padTop44 {
  padding-top: 44px;
  overflow: visible;
}
/* BEGIN TOP bar */
#top>.navbar {
  margin: 0;
}

#top>.navbar>.navbar-inner {
  padding-left: 10px;
  padding-right: 10px;
}

#top>.navbar>.navbar-inner>.container-fluid {
  padding: 0;
}

#top .topnav {
  display: block;
  float: right;
  margin: 0;
}
/* END TOP bar */
/* BEGIN header.head bar */
.head {
  height: 40px;
  padding-bottom: 10px;
  *zoom: 1;
}

.head:before, .head:after {
  display: table;
  content: "";
  line-height: 0;
}

.head:after {
  clear: both;
}

.head .search-bar {
  width: 220px;
  float: left;
}

.head .search-bar .search-bar-inner {
  height: 100%;
  padding-top: 12px;
  position: relative;
  *zoom: 1;
}

.head .search-bar .search-bar-inner:before, .head .search-bar .search-bar-inner:after {
  display: table;
  content: "";
  line-height: 0;
}

.head .search-bar .search-bar-inner:after {
  clear: both;
}

.head .search-bar #menu-toggle {
  float: right;
  margin-right: 12px;
}

.head .search-bar .main-search {
  margin: 0 5px;
  position: relative;
}

.head .main-bar {
  margin-left: 220px;
  position: relative;
}

.head .main-bar .container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

.head .main-bar .sidebar-ctrl {
  padding-top: 10px;
  float: right;
}
/* END header.head bar */
/* BEGIN #menu-toggle button */
#menu-toggle {
  float: right;
  margin-right: 12px;
}
/* END #menu-toggle button */
/* BEGIN #left div */
#left {
  display: block;
  float: left;
  position: relative;
  width: 220px;
}

#left .user-media {
  color: #fff;
  padding: 20px 0 20px 10px;
}

#left .user-media a.user-link {
  float: left;
  position: relative;
}

#left .user-media a.user-link .user-label {
  position: absolute;
  right: -6px;
  top: -6px;
  width: auto;
}

#left .user-media .media-body {
  float: left;
  margin-left: 12px;
}

#left .user-media .media-body h5 {
  margin-bottom: 3px;
}

#left .user-media .media-body .user-info li {
  line-height: 13px;
  font-size: 11px;
}

#left #right .container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
/* END #left div */
/* BEGIN main content */
#content {
  margin-left: 220px;
  margin-right: 0;
  -webkit-transition: margin-left 0.4s;
  -moz-transition: margin-left 0.4s;
  -o-transition: margin-left 0.4s;
  transition: margin-left 0.4s;
  width: auto;
}

#content .main {
  padding: 10px;
}
/* BEGIN main content */
/* BEGIN body.mini-sidebar styles */
.mini-sidebar .head .search-bar {
  display: none;
}

.mini-sidebar .head .main-bar {
  float: none;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.mini-sidebar #left {
  width: 100px;
}

.mini-sidebar #left .user-media .media-body, .mini-sidebar #left #right {
  display: none !important;
}

.mini-sidebar #content {
  margin-left: 100px;
  -webkit-transition: margin-left 0.2s;
  -moz-transition: margin-left 0.2s;
  -o-transition: margin-left 0.2s;
  transition: margin-left 0.2s;
}
/* END body.mini-sidebar styles */
/* BEGIN body.side-right styles */
.side-right .head .search-bar {
  float: right;
}

.side-right .head .main-bar {
  margin-left: 0;
  margin-right: 220px;
}

.side-right #left {
  float: right;
}

.side-right #left #menu>li>a>.label {
  left: 2px;
  right: auto;
}

.side-right #left .user-media a.user-link .user-label {
  left: -6px;
  right: auto;
}

.side-right #content {
  margin-left: 0;
  margin-right: 220px;
  -webkit-transition: margin-right 0.2s;
  -moz-transition: margin-right 0.2s;
  -o-transition: margin-right 0.2s;
  transition: margin-right 0.2s;
}
/* END body.side-right styles */
/* BEGIN body.side-right.mini-sidebar styles */
.side-right.mini-sidebar #content {
  margin-right: 100px;
  -webkit-transition: margin-right 0.2s;
  -moz-transition: margin-right 0.2s;
  -o-transition: margin-right 0.2s;
  transition: margin-right 0.2s;
}

.side-right.mini-sidebar .head .search-bar {
  display: none;
}

.side-right.mini-sidebar .head .main-bar {
  margin-right: 0;
  margin-left: 0;
}
/* END body.side-right.mini-sidebar styles */
/* BEGIN body.hide-sidebar styles */
.hide-sidebar #left {
  display: none !important;
}

.hide-sidebar #content {
  margin: auto 0 !important;
}
/* BEGIN body.hide-sidebar styles */
/* BEGIN  FIXED LAYOUT STYLES    */
body.fixed #wrap, body.fixed #footer {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

body.fixed .pattern-switcher {
  display: block;
}

@media ( min-width : 1280px) {
  body.fixed #top>.navbar {
    width: 1280px;
    margin: 0 auto;
  }
}

@media ( max-width : 979px) {
  body.padTop44 {
    padding: 0;
  }
}

@media ( max-width : 1280px) {
  body.fixed #wrap, body.fixed #footer {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
/* END  FIXED LAYOUT STYLES    */
/* BEGIN layout media queries */
@media ( min-width : 768px) and (max-width: 979px) {
  .head .search-bar {
    display: none;
  }
  .head .main-bar {
    margin-right: 0;
    margin-left: 0;
  }
  .side-right .head .main-bar {
    margin-right: 0;
    margin-left: 0;
  }
  #left {
    width: 100px;
  }
  #left .user-media {
    padding: 10px;
  }
  #left .user-media a.user-link .user-label {
    right: -6px;
  }
  #left #right {
    display: none;
  }
  #content {
    margin-left: 100px;
  }
  .side-right #content {
    margin-right: 100px;
  }
}

@media screen and (max-width: 767px) {
  #wrap {
    margin: 0 auto;
  }
  .navbar-inner {
    padding-left: 5px;
    padding-right: 8px;
  }
  #left, #content {
    float: none;
    width: 100%;
    margin: 0;
  }
  .head {
    height: auto;
    padding-bottom: 0;
  }
  .head .search-bar {
    float: none !important;
    width: auto;
  }
  .head .search-bar .search-bar-inner .main-search {
    margin-right: 50px;
  }
  .head .main-bar {
    float: none !important;
    margin: 0 !important;
  }
}
/* END layout media queries */
/* ================== END Template Layout ============== */
/*********************************************************/
/*          Begin top-header-content-footer Styles                           */
/*********************************************************/
/* Wrapper styles ------------------------------------*/
#wrap {
  background: url("../img/pattern/green-fibers.png") repeat #444444;
  *zoom: 1;
}

#wrap:before, #wrap:after {
  display: table;
  content: "";
  line-height: 0;
}

#wrap:after {
  clear: both;
}
/* --------------- TOP BAR STYLES -------------------- */
#top>.navbar {
  /*border-top: 3px solid #CD0067;*/
  
}

/* --------------- HEADER.head STYLES -------------------- */
.head {
  background-color: #444444;
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  border-bottom: 2px solid #333333;
}

.head .search-bar .search-bar-inner {
  border-right: 2px solid #333;
  border-right: 2px solid rgba(0, 0, 0, 0.24);
  border-left: none;
}

.head .search-bar .search-bar-inner .main-search input[type="text"] {
  background-color: #444444;
  border: 1px solid #000000;
  color: #CCCCCC;
  float: left;
  font-size: 12px;
  padding: 0 4px;
}

.head .search-bar .search-bar-inner .main-search #searchBtn {
  position: absolute;
  right: 1px;
  top: 0;
}

.head .main-bar h3 {
  color: #BABABA;
  line-height: 29px;
  text-shadow: 0 1px 0 rgba(51, 47, 47, 0.6);
}
/* --------------- LEFT NAVIGATION STYLES -------------------- */
#left .user-media a {
  color: #888888;
}

#left .user-media a.user-link .user-label {
  background-color: #9A004D;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* --------------- FOOTER STYLES -------------------- */
#footer {
  margin: 0 auto;
  border-top: 2px solid #060606;
  color: #f9f9f9;
  background-color: #444;
  background-image: url("../img/pattern/px_by_Gre3g.png");
  background-repeat: repeat;
}

#footer p {
  padding-top: 12px;
  text-align: center;
}
/* --------------- CONTENT STYLES -------------------- */
#content .outer {
  background-color: #6e6e6e;
  padding: 10px;
}

#content .outer .inner {
  background: #E4E4E4;
  padding: 0;
}
/* BEGIN body.side-right styles */
.side-right .head .search-bar .search-bar-inner {
  border-right: none;
  border-left: 2px solid rgba(0, 0, 0, 0.24);
}
/* END body.side-right styles */
@media ( max-width : 767px) {
  .head .search-bar .search-bar-inner {
    border-right: none;
  }
  .head .main-bar {
    border-top: 2px solid #333;
  }
}
/* ============== END top-header-content-footer Styles ================= */
#menu {
  line-height: 1;
}

#menu li ul {
  background: #fff;
}

#menu li ul li a {
  border-top: 1px solid #EFEFF0 !important;
  color: #888888;
  display: block;
  padding: 8px 10px;
  position: relative;
  text-decoration: none;
  font-size: 11px;
}

#menu li ul li a:hover {
  color: #777;
}

#menu, #menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li, #menu ul li {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

#menu, #menu>li, #menu>li>a {
  border: 0 none;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

#menu>li>a {
  border-bottom: 1px solid #252525;
  -webkit-box-shadow: 0 0 0 #999999, 0 1px 0 #666666 inset;
  -moz-box-shadow: 0 0 0 #999999, 0 1px 0 #666666 inset;
  box-shadow: 0 0 0 #999999, 0 1px 0 #666666 inset;
  background-color: #474747;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(top, #555555, #333333);
  background-image: -o-linear-gradient(top, #555555, #333333);
  background-image: linear-gradient(to bottom, #555555, #333333);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff333333',
    GradientType=0);
  color: #FFFFFF;
  display: block;
  font-size: 11px;
  font-weight: bold;
  padding: 10px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 1px #000000;
}

.lt-ie8 #menu>li>a>.label {
  float: none;
  position: absolute;
  right: 2px;
  top: 10px;
}

#menu>li>a:hover, #menu>li.hover>a, #menu>li.active>a {
  background-color: #cc004d;
  background-image: -moz-linear-gradient(top, #ff0080, #800000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0080), to(#800000));
  background-image: -webkit-linear-gradient(top, #ff0080, #800000);
  background-image: -o-linear-gradient(top, #ff0080, #800000);
  background-image: linear-gradient(to bottom, #ff0080, #800000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff0080', endColorstr='#ff800000',
    GradientType=0);
  -webkit-box-shadow: 0 1px 0 0 #9a004d inset;
  -moz-box-shadow: 0 1px 0 0 #9a004d inset;
  box-shadow: 0 1px 0 0 #9a004d inset;
  -webkit-transition: height 0.4s ease-out 0s;
  -moz-transition: height 0.4s ease-out 0s;
  -o-transition: height 0.4s ease-out 0s;
  transition: height 0.4s ease-out 0s;
}

.mini-sidebar #menu>li>a {
  text-align: center;
}

.mini-sidebar #menu>li>a>i {
  display: block;
  font-size: 20px;
  width: auto;
}

.mini-sidebar #menu .label {
  position: absolute;
  right: 2px;
  top: 2px;
}

@media ( min-width : 768px) and (max-width: 979px) {
  #menu>li>a {
    text-align: center;
  }
  #menu>li>a>i {
    display: block;
    font-size: 20px;
    width: auto;
  }
  #menu .label {
    position: absolute;
    right: 2px;
    top: 2px;
  }
}

.box {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.box header {
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2',
    GradientType=0);
  border-bottom: 1px solid #d4d4d4;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  *zoom: 1;
}

.box header:before, .box header:after {
  display: table;
  content: "";
  line-height: 0;
}

.box header:after {
  clear: both;
}

.box header .icons, .box header h5 {
  float: left;
  margin: 0;
}

.box header .nav {
  margin: 0;
}

.box header .nav.nav-tabs {
  border: none !important;
}

.box header .nav>li {
  float: left;
}

.box header .nav>li>a {
  padding: 10px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  border-top: none !important;
  border-bottom: none !important;
}

.box header .nav .dropdown-toggle .caret {
  border-bottom-color: #fff;
  border-top-color: #fff;
}

.box header .nav .dropdown-menu {
  float: right;
  right: 0;
  left: auto;
}

.box header .icons {
  float: left;
  display: block;
  padding: 10px 5px 10px 10px;
}

.box header h5 {
  margin: 10px 0 10px 5px;
}

.box header .toolbar {
  float: right;
  height: 100%;
  line-height: 40px;
  padding-right: 10px;
}

.box header .toolbar * {
  margin: 0;
}

.box header .toolbar input[type="text"] {
  padding: 0 0 0 6px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.box header .toolbar .progress {
  min-width: 120px;
  margin: 18px 0;
}

.box header .toolbar .progress.mini {
  height: 5px;
}

.box header .toolbar .progress.middle {
  height: 7px;
}

.box header .toolbar .input-append .btn {
  margin-left: -1px;
  vertical-align: inherit;
}

.box .body, .box .block {
  padding: 10px;
  background-color: #F5F5F5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.box .body .progress, .box .block .progress {
  margin-bottom: 10px;
}

.box .body.collapse:not (.in ) {
  padding: 0;
}

.box .block {
  padding: 0;
}

.box .block table {
  border: none;
}

.box .block form {
  margin: 0;
}

.box.dark header {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(to bottom, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222',
    GradientType=0);
  color: #f5f5f5;
}

@media screen and (max-width: 480px) {
  .box .block .control-group {
    padding-left: 10px;
  }
}

.limiterBox {
  border: 1px solid #FBEED5;
  border-top: none;
  color: #C09853;
  background-color: #FCF8E3;
  padding: 3px 6px;
  font-size: 10px;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.btn-group .btn {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.btn-metis-1 {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #a20051;
  background-image: -moz-linear-gradient(top, #c60063, #6b0035);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c60063), to(#6b0035));
  background-image: -webkit-linear-gradient(top, #c60063, #6b0035);
  background-image: -o-linear-gradient(top, #c60063, #6b0035);
  background-image: linear-gradient(to bottom, #c60063, #6b0035);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc60063', endColorstr='#ff6b0035',
    GradientType=0);
  border-color: #6b0035 #6b0035 #1f000f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #6b0035;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
}

.btn-metis-1:hover, .btn-metis-1:active, .btn-metis-1.active, .btn-metis-1.disabled, .btn-metis-1[disabled]
  {
  color: #ffffff;
  background-color: #6b0035;
  *background-color: #520028;
}

.btn-metis-1:active, .btn-metis-1.active {
  background-color: #38001c \9;
}

.btn-metis-2 {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #515122;
  background-image: -moz-linear-gradient(top, #606028, #3b3b18);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#606028), to(#3b3b18));
  background-image: -webkit-linear-gradient(top, #606028, #3b3b18);
  background-image: -o-linear-gradient(top, #606028, #3b3b18);
  background-image: linear-gradient(to bottom, #606028, #3b3b18);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff606028', endColorstr='#ff3b3b18',
    GradientType=0);
  border-color: #3b3b18 #3b3b18 #050502;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #3b3b18;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
}

.btn-metis-2:hover, .btn-metis-2:active, .btn-metis-2.active, .btn-metis-2.disabled, .btn-metis-2[disabled]
  {
  color: #ffffff;
  background-color: #3b3b18;
  *background-color: #292911;
}

.btn-metis-2:active, .btn-metis-2.active {
  background-color: #171709 \9;
}

.btn-metis-3 {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #926710;
  background-image: -moz-linear-gradient(top, #b78114, #5b400a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b78114), to(#5b400a));
  background-image: -webkit-linear-gradient(top, #b78114, #5b400a);
  background-image: -o-linear-gradient(top, #b78114, #5b400a);
  background-image: linear-gradient(to bottom, #b78114, #5b400a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb78114', endColorstr='#ff5b400a',
    GradientType=0);
  border-color: #5b400a #5b400a #161002;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #5b400a;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
}

.btn-metis-3:hover, .btn-metis-3:active, .btn-metis-3.active, .btn-metis-3.disabled, .btn-metis-3[disabled]
  {
  color: #ffffff;
  background-color: #5b400a;
  *background-color: #443007;
}

.btn-metis-3:active, .btn-metis-3.active {
  background-color: #2d2005 \9;
}

.btn-metis-4 {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #4d6189;
  background-image: -moz-linear-gradient(top, #5b73a3, #374561);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5b73a3), to(#374561));
  background-image: -webkit-linear-gradient(top, #5b73a3, #374561);
  background-image: -o-linear-gradient(top, #5b73a3, #374561);
  background-image: linear-gradient(to bottom, #5b73a3, #374561);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5b73a3', endColorstr='#ff374561',
    GradientType=0);
  border-color: #374561 #374561 #1b2230;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #374561;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
}

.btn-metis-4:hover, .btn-metis-4:active, .btn-metis-4.active, .btn-metis-4.disabled, .btn-metis-4[disabled]
  {
  color: #ffffff;
  background-color: #374561;
  *background-color: #2e3951;
}

.btn-metis-4:active, .btn-metis-4.active {
  background-color: #252e40 \9;
}

.btn-metis-5 {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #4d7589;
  background-image: -moz-linear-gradient(top, #5b8ba3, #375361);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5b8ba3), to(#375361));
  background-image: -webkit-linear-gradient(top, #5b8ba3, #375361);
  background-image: -o-linear-gradient(top, #5b8ba3, #375361);
  background-image: linear-gradient(to bottom, #5b8ba3, #375361);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5b8ba3', endColorstr='#ff375361',
    GradientType=0);
  border-color: #375361 #375361 #1b2930;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #375361;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
}

.btn-metis-5:hover, .btn-metis-5:active, .btn-metis-5.active, .btn-metis-5.disabled, .btn-metis-5[disabled]
  {
  color: #ffffff;
  background-color: #375361;
  *background-color: #2e4551;
}

.btn-metis-5:active, .btn-metis-5.active {
  background-color: #253740 \9;
}

.btn-metis-6 {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #39b4e5;
  background-image: -moz-linear-gradient(top, #45c7eb, #2698db);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#45c7eb), to(#2698db));
  background-image: -webkit-linear-gradient(top, #45c7eb, #2698db);
  background-image: -o-linear-gradient(top, #45c7eb, #2698db);
  background-image: linear-gradient(to bottom, #45c7eb, #2698db);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff45c7eb', endColorstr='#ff2698db',
    GradientType=0);
  border-color: #2698db #2698db #1a6b9b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2698db;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
}

.btn-metis-6:hover, .btn-metis-6:active, .btn-metis-6.active, .btn-metis-6.disabled, .btn-metis-6[disabled]
  {
  color: #ffffff;
  background-color: #2698db;
  *background-color: #2189c7;
}

.btn-metis-6:active, .btn-metis-6.active {
  background-color: #1d7ab1 \9;
}

.btn-group.open .btn-metis-1.dropdown-toggle {
  background-color: #6b0035;
}

.btn-group.open .btn-metis-2.dropdown-toggle {
  background-color: #3b3b18;
}

.btn-group.open .btn-metis-3.dropdown-toggle {
  background-color: #5b400a;
}

.btn-group.open .btn-metis-4.dropdown-toggle {
  background-color: #374561;
}

.btn-group.open .btn-metis-5.dropdown-toggle {
  background-color: #375361;
}

.btn-group.open .btn-metis-6.dropdown-toggle {
  background-color: #2698db;
}

.btn-metis-1 .caret, .btn-metis-2 .caret, .btn-metis-3 .caret, .btn-metis-4 .caret, .btn-metis-5 .caret,
  .btn-metis-6 .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
/*********************************************************/
/*                 Component Styles                           */
/*********************************************************/
/* horizontal rules */
.inner hr {
  margin-top: 10px;
  border-top-color: #ccc;
}

.progress.mini {
  height: 6px;
}

.well.dark {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background-color: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: #999;
  margin-bottom: 10px;
  padding-top: 10px;
}

.well.dark .alert {
  margin-bottom: 0;
}

.tac {
  text-align: center;
}

.stats_box {
  display: inline-block;
  list-style: none outside none;
  margin-left: 0;
  margin-top: 20px;
}

.stats_box li {
  background: #EEEEEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  -moz-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  display: inline-block;
  line-height: 18px;
  margin: 0 10px 10px;
  padding: 0 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
}

.stats_box .sparkline {
  width: 50px;
  border-right: 1px solid #DCDCDC;
  -webkit-box-shadow: 1px 0 0 0 #ffffff;
  -moz-box-shadow: 1px 0 0 0 #ffffff;
  box-shadow: 1px 0 0 0 #ffffff;
  float: left;
  margin-right: 12px;
  padding: 10px 14px 0px 4px;
  line-height: 52px;
}

.stats_box .stat_text {
  float: left;
  font-size: 12px;
  padding: 9px 10px 7px 0;
  text-align: left;
  width: 150px;
  position: relative;
}

.stats_box .stat_text strong {
  display: block;
  font-size: 16px;
}

.stats_box .stat_text .percent {
  color: #444;
  float: right;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 17px;
}

.stats_box .stat_text .percent.up {
  color: #46a546;
}

.stats_box .stat_text .percent.down {
  color: #C52F61;
}

.quick-btn {
  background: #EEEEEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  -moz-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
  color: #444444;
  display: inline-block;
  height: 60px;
  margin: 10px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  width: 90px;
  position: relative;
}

.quick-btn span {
  display: block;
}

.quick-btn .label {
  position: absolute;
  right: -5px;
  top: -5px;
}

.quick-btn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #4d7589;
  text-shadow: 0 1px 1px #000;
}

.quick-btn.small {
  width: 40px;
  height: 30px;
  padding-top: 6px;
}

.simpleTable tr th:first-child, .simpleTable tr td:first-child {
  text-align: center;
  width: 27px;
}
/* BEGIN SORTABLETABLE STYLES */
.sortableTable th {
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2',
    GradientType=0);
  cursor: pointer;
}

.sortableTable th i {
  display: none;
  float: right;
}

.sortableTable th:hover {
  color: #888;
}

.sortableTable th.header i.icon-sort {
  display: inline-block;
}

.sortableTable th.headerSortUp i.icon-sort {
  display: none;
}

.sortableTable th.headerSortUp i.icon-sort-up {
  display: inline-block;
}

.sortableTable th.headerSortDown i.icon-sort {
  display: none;
}

.sortableTable th.headerSortDown i.icon-sort-down {
  display: inline-block;
}
/* END SORTABLETABLE STYLES */
@media only screen and (max-width: 767px) {
  .responsive-table {
    display: block;
    position: relative;
    width: 100%;
  }
  .responsive-table thead {
    display: block;
    float: left;
  }
  .responsive-table thead tr {
    display: block;
  }
  .responsive-table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  .responsive-table tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  .responsive-table th {
    display: block;
  }
  .responsive-table td {
    display: block;
    min-height: 1.25em;
  }
}

.google-maps {
  height: 333px;
  width: 100%;
}
/* BEGIN PROGRESSBAR STYLES */
.progress .bar.six-sec-ease-in-out {
  -webkit-transition: width 6s ease-in-out;
  -moz-transition: width 6s ease-in-out;
  -ms-transition: width 6s ease-in-out;
  -o-transition: width 6s ease-in-out;
  transition: width 6s ease-in-out;
}

.progress.vertical .bar.six-sec-ease-in-out {
  -webkit-transition: height 6s ease-in-out;
  -moz-transition: height 6s ease-in-out;
  -ms-transition: height 6s ease-in-out;
  -o-transition: height 6s ease-in-out;
  transition: height 6s ease-in-out;
}

.progress.wide {
  width: 60px;
}

.vertical-progressbar-span {
  height: 100px;
}
/* END PROGRESSBAR STYLES */
/*TABS*/
.nav.nav-tabs {
  border: medium none;
  margin-bottom: 0;
}

.tab-content {
  border: 1px solid #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  margin: 0;
  padding: 20px;
}
/*END TABS*/
/*COMMENTS*/
.comments .popover {
  display: block;
  position: relative;
  width: 90%;
  margin: 0 10px;
}

.comments .popover .arrow {
  top: 33%;
}
/*COMMENTS*/
/* --------------- END Component Styles -------------------- */